body
  margin: 0

#page1
  background: linear-gradient(to bottom right, #D4145A, #FBB03B)
  .image
    top: calc(50% - 300px) !important
    background-image: url(./images/imac.png)

#page2
  background: linear-gradient(to bottom right, #662D8C, #ED1E79)
  .image
    background-image: url(./images/macbook.png)

#page3
  background: linear-gradient(to bottom right, #00A8C5, #FFFF7E)
  .image
    background-image: url(./images/ipad.png)

#page4
  background: linear-gradient(to bottom right, #312A6C, #852D91)
  .image
    background-image: url(./images/iphone.png)

.image
  top: calc(-50%  - 300px)
  left: calc(50% - 300px)
  background-size: contain
  background-repeat: no-repeat
  position: absolute
  height: 600px
  width: 600px

.pin-container
  height: 100%
  width: 100%
  position: relative

.page
  position: relative
  overflow: hidden
  height: 100vh
  width: 100vw

.scrollmagic-pin-spacer
  position: absolute !important
  clip: rect(auto, auto, auto, auto)
